* {
  font-size:60px;font-family:Oswald-Light;
}

.menuLink {
  left:0;
  display: inline-block;
  width: 50%;
  top:0;
  color: #FFFFFF;
  padding-left: 13px;
  padding-right:13px;
  padding-bottom:0px;
  text-transform: uppercase;
  height: 100%;
  background-color: rgba(151,151,151,0.5);
}

#logoContainer {
	width: 6%;
	position: relative;
  margin-left:auto;
  margin-right:auto;
}

#logoImage{
	width: 80%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}

#photoContainer{
  position: absolute;
  width: cover;
  background-color: #D46A6A;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  top: 60px;
}

#menu {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  display: block;
  background: rgba(151,151,151,0.5);
  height: 6%; 
  position: fixed;
  top: 0px;	
  width: cover; 
  left: 0;
  right: 0;
  z-index: 2;
}
   
#photoContainer{
  width: cover;
  background-color: #D46A6A;
  left: 0;
  right: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  display:block;
  height: 50px; 
  top:100px;
}

#bgimg{
	position: fixed;
	left:0;
	z-index: -1;
	top:0%;
	padding: 0;
	width: 100%;
	overflow: scroll;
  -webkit-filter:blur(5px);
}

#menuButton {
  display:block;
  width:auto;
  height:60%;
  border-radius:25px;
  background-color: #DCDCDC;
}

.chunk {
  position: absolute;
  width: 100%;
  background-color: #DCDCDC;
  left: 0;
  right: 0;
  top:6%;
  height: 94%;
  padding: 0;
  opacity: 0.8;
  overflow: auto;
}

.bar {
  display:block;
  height:0.5%;
  width:80%;
  margin:auto;
  background-color: rgba(151,151,151,0.7);
}

#contactsTable{
  font-family: 'Oswald', sans-serif;
  left: 50%;
  right: 50%;
  top: 50%;

}

body {
	background-color: #DCDCDC;
  text-align:center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	position:fixed;
}

a:link, a:visited {
  text-decoration: none;
}

.menuLink:active, .menuLink:hover {
    background-color: rgba(151,151,151,0.8);
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@font-face {
    font-family: Oswald-Light;
    src: url(Oswald-Light.ttf);
}

li {
	left:0;

}
