@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

#photoContainer{
position: absolute;
width: cover;
background-color: #D46A6A;
left: 0;
right: 0;
padding: 0;
margin: 0;
margin-left: 0;
margin-right: 0;
 top: 60px;

}

#menu {
  background-color: #ffffff;
  
  padding: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  display:block;
  

  background: rgba(151,151,151,0.5);
  height: 50px; 
  position: fixed;
  top: 0px;	
  width: cover; 
  left: 0;
  right: 0;
  font-family: 'Oswald', sans-serif;
  
  z-index: 2;
  
   }
   
 #photoContainer{

width: cover;
background-color: #D46A6A;
left: 0;
right: 0;
padding: 0;
margin-left: 0;
margin-right: 0;
  display:block;
  height: 50px; 
  top:100px;

}

#img{
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	z-index: -1;
	top:0px;
	padding: 0;
	min-width: 1024px;

	
}
#chunk{
	position: absolute;
	width: 100%;
	background-color: #DCDCDC;
	top: 680px;
	left: 0;
	right: 0;
	height: 900px;
	padding: 0;
}
body {
	background-color: #949494;
}

		ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	
	position:fixed;
}

li {
	text-align:center;
	margin: 0;
    padding: 0;
	top: 0;

	
	
}

	a:link, a:visited {
	left:0;
	background: url(50%-transparent-white.png);
	display: block;
    width: 120px;
	top:0;
    color: #FFFFFF;
	
    padding: 13px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active {
    background-color: rgba(151,151,151,0.5);
}
}
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@font-face {
    font-family: Oswald-Light;
    src: url(Oswald-Light.ttf);
}
